h1 {
  text-align: center;
  margin: 2em 0 1em;
}

.formcontainer {
  margin: 0 auto;
}

.inputs {
  margin-bottom: 2em;
}

input {
  height: 2.5em;
}

button {
  height: 2.5em;
  width: 100%;
  background-color: #f4a548 !important;
  border-color: transparent !important;
}

a {
  height: 2.5em;
  width: 100%;
  background-color: #f6d198 !important;
  border-color: transparent !important;
}