h1 {
  text-align: center;
  margin: 1em 0;
}

.formcontainer {
  margin: 0 auto;
}

input {
  height: 2.5em;
  margin-bottom: 2em;
}

button {
  height: 2.5em;
  width: 100%;
  border-color: transparent !important;
  background-color: #f4a548 !important;
  &.back {
    background-color: #f6d198 !important;
  }
}